<a href="https://colab.research.google.com/github/ym7079/CodingTestLecture/blob/main/02_Greedy%20Algorithm/%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C_1_%EA%B3%B1%ED%95%98%EA%B8%B0_%ED%98%B9%EC%9D%80_%EB%8D%94%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#곱하기 혹은 더하기

## <문제> 곱하기 혹은 더하기 문제 설명

- 각 자리가 숫자(0부터 9)로만 이루어진 문자열 S가 주어졌을 때, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 'x'혹은 '+'연산자를 넣어 결과적으로 **만들어질 수 있는 가장 큰 수를 구하는 프로그램**을 작성하세요.</br>
단, +보다 x를 먼저 계산하는 일반적인 방식과는 달리, **모든 연산은 왼쪽에서부터 순서대로** 이루어진다고 가정합니다.

- 예를 들어 02984라는 문자열로 만들 수 있는 가장 큰 수는 </br>
((((0+2) x 9) x 8) x 4) = 576입니다.</br>
또한 만들어질 수 있는 가장 큰 수는 항상 20억 이하의 정수가 되도록 입력이 주어집니다.</br>

### 난이도: 1 | 풀이시간: 30분 | 시간제한: 1초 | 메모리 제한: 128MB
#### 입력조건
- 첫째 줄에 여러 개의 숫자로 구성된 하나의 문자열 S가 주어집니다.(1 <= S의 길이 <= 20)

#### 출력조건
- 첫째 줄에 만들어질 수 있는 가장 큰 수를 출력합니다.

#### 입력예시 1: 02984     |     출력예시: 576
#### 입력예시 2: 567     |     출력예시: 210

### 풀이

In [3]:
a = '123'
a = [int(i) for i in a]
a

[1, 2, 3]

In [8]:
def func(S):
    result = 0
    is_first = True
    for i in S:
        i = int(i)

        if is_first:
            result += i
            is_first = False
            continue

        if result <= 1 or i <= 1:
            result += i
        else:
            result *= i

    return result

func('02984')
func('567')

210

### 답안예시

In [10]:
def answer(S):
    #첫 번째 문자를 숫자로 변경하여 대입
    result = int(S[0])

    for i in range(1,len(S)):
        #두 수 중에서 하나라도 '0' 혹은 '1'인 경우, 곱하기보다는 더하기 수행
        num = int(S[i])

        if result <= 1 or num <= 1:
            result += num
        else:
            result *= num

    return result

answer('02984')
answer('567')

210